$color-black: black;
$color-dark1: #222222;
$color-dark2: #333333;
$color-dark3: #3c3c3c;
$color-secondary: #3AB54A;
$color-danger: #DC4035;
$color-warning: #F9D000;
$color-info: #96C3EB;
$color-white: #ffff;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-dark1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}


.sign-select {
  color: $color-white;
  text-transform: uppercase;
  text-align: center;

  button {
    padding: 10px 20px;
    border: 2px solid $color-secondary;
    margin: 0 8px;
    color: $color-white;
    font-size: 30px;
    background: none;
    border-radius: 20px 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    outline: none;

    &:hover {
      background: $color-secondary;
    }
  }
}

.main-wrapper {
  position: relative;
}

.new-game-btn {
  background: none;
  color: $color-white;
  text-transform: uppercase;
  padding: 10px 65px;
  border: 2px solid $color-secondary;
  border-radius: 0 0 10px 10px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;

  &:hover {
    background: $color-secondary;
  }
}

.game-result {
  font-size: 35px;
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 10;
  background: $color-dark3;
  width: 255px;
  height: 255px;
  display: flex;
  opacity: 0.9;
  align-items: center;
  justify-content: center;
}

.title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 35px;
  color: $color-secondary;
}

.win {
  color: $color-secondary;
}

.lose {
  color: $color-danger
}

.draw {
  color: $color-warning
}

.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .board {
    width: 252px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid $color-black;

    .box {
      background: $color-dark3;
      border: 2px solid $color-black;
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-secondary;
      font-size: 70px;
      cursor: pointer;

      &:hover {
        background: #4f4f4f;
      }
    }
  }
}

